@page
@model ExpiredTicketsModel
@{
}

<table class="table table-striped">
    <thead class="text-center bg-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Passenger)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].CountryFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].CountryTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].CityFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].CityTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].DateTimeFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].DateTimeTo)
            </th>

        </tr>
    </thead>
    <tbody class="text-center">
        @foreach (var item in Model.Ticket)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Passenger.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CityTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeTo)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

