@using Models
@model IEnumerable<Models.Passenger>

@{
    ViewData["Title"] = "Index";
}

<h3>Ticket List</h3>
<table class="table">

<tr>
    <th>
    <a asp-action="Create">Create New</a>
    </th>
    @foreach (Ticket item in ViewBag.Tickets)
    {
        <th>
            <a asp-action="Index" asp-route-id="@item.Id">@item.Passenger.Name</a>
        </th>
    }

</tr>

</table>

<h1>Index</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Plane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            @{/*
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            */
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plane.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            @{/*
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            */
            }
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
