@using Models;
@model IEnumerable<Models.Employee>

@{
    ViewData["Title"] = "Search";
}
<h1>Select Employees by Name or/and SecondName, Position</h1>
<div class="container-lg">
    <table class="table">
        <thead class="bg-light">
            <tr class="text-center">
                <th>Name</th>
                <th>Second Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody class="align-content-lg-around">
            <tr class="text-center">
                <form asp-area="Admin" asp-controller="Employee" asp-action="Search" method="get">
                <th>
                    <select class="form-control" name="name" asp-items="ViewBag.Names">
                        <option value="">Select Name</option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="secondName" asp-items="ViewBag.SecondNames">
                        <option value="">Select Second Name</option>
                    </select>
                </th>
                <th>
                    <select class="form-control" name="position" asp-items="ViewBag.Positions">
                        <option value="">Select Position</option>
                    </select>
                </th>
                <th>
                    <button type="submit" class="btn align-content-md-end btn-primary">Search</button>
                </th>
                </form>
            </tr>
        </tbody>


    </table>
</div>


<h1>Employee List</h1>
<table class="table table-striped">
    <thead class="bg-light">
        <tr class="text-center">
            <th>
                @Html.DisplayNameFor(model => model.Plane.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Plane.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
